<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}'>
</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
    <img src="{{site.picture | relative_url}}" alt="Picture of Terron Wright" />
    <p>{{ site.description }}</p>
    <nav class="navigation">
      <ul>
        <li><p><a href="/portfolio">{% if page.nav == "home" %}<strong>Home</strong>{% else %}Home{% endif %}</a></p></li>
        <li><p><a href="/portfolio/robots">{% if page.nav == "robots" %}<strong>Robots</strong>{% else %}Robots{% endif %}</a></p></li>
        <li><p><a href="/portfolio/SPT">{% if page.nav == "SPT" %}<strong>SPT</strong>{% else %}SPT{% endif %}</a></p></li>
      </ul>
    </nav>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    <p><a href="mailto:{{ site.email }}">Contact me at {{ site.email }}</a></p>
  </footer>

</body>
</html>